---
layout: default
title: MacArthur Adoption
---

<div class="Hero" id="top">

  <div class="Hero-background lazy-load" data-background-image="assets/img/family-bw.jpg"></div>

  <div class="Hero-container">

    <h1 class="Hero-title">
      Our family is growing!
    </h1>

    <h4 class="Hero-subTitle">
      The MacArthurs are adopting from South Korea.
    </h4>

    <div class="Hero-ctaBar">
      <a class="Hero-action Button Button--transparent" href="#why">
        Our Story
      </a>

      <a href="#involved" class="Hero-action Button">
        Get Involved
      </a>
    </div>

  </div>

</div>

<section class="Section" id="why">
  <div class="Section-container">
    <h2>A Brief Adoption Backstory</h2>
    {% capture why %}{% include copy/why.md %}{% endcapture %}{{ why | markdownify}}
  </div>
</section>

<section class="Section" id="why">
  <div class="Section-container">
    <h2>What We Know Now</h2>
    {% capture know %}{% include copy/know.md %}{% endcapture %}{{ know | markdownify}}
  </div>
</section>

<section class="Section" id="involved">
  <div class="Section-container">
    <h2>We'd Love Your Help</h2>
    {% capture need %}{% include copy/need.md %}{% endcapture %}{{ need | markdownify}}
  </div>
</section>

<section class="Section">
  <div class="Section-container">
    <h2>Stay Updated</h2>
    {% capture more %}{% include copy/more.md %}{% endcapture %}{{ more | markdownify}}
  </div>
</section>

<section class="Section">
  <img class="Section-image lazy-load" data-src="assets/img/family-church.jpg" alt="MacArthur Family Photo">
</section>

<footer class="Footer">
  <a class="Footer-link" href="#top">Back to Top</a>
</footer>
