---
layout: default
title: MacArthur Adoption
---

<header class="Header" id="top">

  <div class="Header-background lazy-load" data-background-image="/assets/img/family-bw.jpg"></div>

  <div class="Header-container">

    <h1 class="Header-title">
      Our family is growing!
    </h1>

    <h4 class="Header-subTitle">
      The MacArthurs are adopting from South Korea.
    </h4>

    {% include nav.html %}

  </div>

</header>

<main>

  <section class="Section" id="why">
    <h2>A Little About Us</h2>
    {% capture why %}{% include copy/why.md %}{% endcapture %}{{ why | markdownify}}
  </section>

  <section class="Section" id="why">
    <h2>What We Know Now</h2>
    {% capture know %}{% include copy/know.md %}{% endcapture %}{{ know | markdownify}}
  </section>

  <section class="Section" id="involved">
    <h2>We'd Love Your Help</h2>
    {% capture need %}{% include copy/need.md %}{% endcapture %}{{ need | markdownify}}
  </section>

  <section class="Section">
    <h2>Stay Updated</h2>
    {% capture more %}{% include copy/more.md %}{% endcapture %}{{ more | markdownify}}
    <br>
    <img class="Section-image lazy-load" data-src="assets/img/family-church.jpg" alt="MacArthur Family Photo">
  </section>

</main>
