<nav class="Nav {% if page.url == '/' %} Nav--home {% else %} Nav--page {% endif %}">

  <button class="Nav-toggle Button Button--transparent" id="menuToggle">Open Menu</button>

  <span class="Logo">
    <a href="/">
      MacAdoption
    </a>
  </span>

  <ul class="Nav-list">

    <li class="Nav-item">
      <a href="{% if page.url == '/' %}#why{% else %}/{% endif; %}" class="Nav-button Button {% if page.url != '/' %}Button--transparent{% endif %}">
        Home
      </a>
    </li>

    <li class="Nav-item">
      <a href="/updates" class="Nav-button Button {% if page.url != '/updates/' %}Button--transparent{% endif %}">
        Updates
      </a>
    </li>

    <li class="Nav-item">
      <a href="/coffee/" class="Nav-button Button {% if page.url != '/coffee//' %}Button--transparent{% endif %}">
        Coffee Fundraiser
      </a>
    </li>

  </ul>
</nav>
