<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/assets/img/open-graph.jpg">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.open_graph_title %}{{ page.open_graph_title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description}}{% else %}{{site.description}}{% endif %}">
<meta property="fb:admins" content="{{ site.facebookid }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% if page.open_graph_title %}{{ page.open_graph_title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description}}{% else %}{{site.description}}{% endif %}">
<meta name="twitter:image" content="{{ site.url }}/assets/img/open-graph.jpg">
