input,
textarea,
select,
.StripeElement {
  border: 0;
  border-radius: 5px;
  background: $gray--veryExtraLight;
  width: 100%;
  border: 0;
  padding: 1.5rem 2rem;
  font-size: $regular-font-size;
  color: $gray;

  &:focus {
    outline-color: $gray--extraLight;
    outline-style: solid;
    outline-width: 1px;
  }
}

label, form h3 {
  color: $gray--light;
  font-size: $regular-font-size;
}

select {
  height: 51px;
}

[type="checkbox"] {
  & + label {
    cursor: pointer;
  }
}
