@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin media ($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin code {
  padding: 1rem 2rem 1rem;
  word-wrap: break-word;
  font-size: 2rem;
  margin: 1rem 0;
  border-radius: 3px;
}

@mixin divider {
  content: '';
  position: absolute;
  display: block;
  height: 8px;
  width: 100%;
  top: 0;
  left: 50%;
  width: 500px;
  max-width: 100%;
  transform: translateX(-50%) skew(50deg);
  background: rgba($purple, .15);
}
