@import 'variables';
@import 'mixins';
@import 'fonts';

body {
  margin: 0;
}

main {
  flex: 1 0 auto;
  text-align: left;
  padding: 2rem 2rem 0;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;

  @include media($tablet) {
    padding-top: 2rem;
  }
}

.turbolinks-progress-bar {
  background-color: $purple;
}

#pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

img {
  transition: opacity .15s ease-in-out;
  max-width: 100%;
  opacity: 0;

  &.is-loaded {
    opacity: 1;
  }
}

@import 'typography';
@import 'forms';
@import 'components/Breadcrumb';
@import 'components/Container';
@import 'components/Alert';
@import 'components/Form';
@import 'components/Header';
@import 'components/Section';
@import 'components/Footer';
@import 'components/Button';
@import 'components/Logo';
@import 'components/Nav';
@import 'components/ImageRow';
@import 'components/PostList';
@import 'components/PostHeader';
@import 'components/BarSeparator';
