.Nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  @include media($tablet) {
    padding: 1rem;
  }

  &-toggle {
    display: none;
    position: relative;
    z-index: 3;

    @include media($mobile) {
      display: block;
    }
  }

  &-logo {
    margin: 0;
    flex: 1 0 auto;
    text-align: left;
    font-family: $serif-font-family;
  }

  &-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    transition: all .25s ease-in-out;

    @include media($mobile) {
      position: fixed;
      text-align: center;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($white, .9);
      justify-content: center;
      z-index: -1;
      opacity: 0;
      padding: 1rem;

      &.is-open {
        z-index: 2;
        opacity: 1;
      }
    }

    @include media($mobile) {
      flex-direction: column;
    }
  }

  &-item {
    margin: 0;

    @include media($mobile) {
      width: 100%;
    }

    & + .Nav-item {
      margin: 0 0 0 2rem;

      @include media($mobile) {
        margin: 1rem 0 0 0;
      }
    }
  }
}
