.Section {
  position: relative;

  &:not(:first-child) {
    padding-top: 5rem;
  }

  & + & {
    margin-top: 7rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 8px;
      width: 100%;
      top: 0;
      left: 50%;
      width: 500px;
      max-width: 100%;
      transform: translateX(-50%) skew(50deg);
      background: rgba($purple, .15);

      @include media($small) {
        transform: translateX(-50%) skew(0deg);
      }
    }
  }

  &-image {
    display: block;
    margin: 0 auto;
  }

  .Button {
    margin: 2rem .5rem 0 0;
  }
}
