<!DOCTYPE html>

<html lang="en-US">

  {% include head.html %}

  <body id="body">

    <div id="pageWrapper">

      {{ content }}

      {% include footer.html %}

    </div>

    <script src="/assets/dist/js/scripts.min.js?v={{ site.random_number }}-browser"></script>
    <!-- <script type="module" src="/assets/dist/js/scripts.modern.min.js?v={{ site.random_number }}-2"></script> -->

    <script>
      const MODERN_BUNDLE = "/assets/dist/js/scripts.modern.min.js?v={{ site.random_number }}-javascript";
      const LEGACY_BUNDLE = "/assets/dist/js/scripts.min.js?v={{ site.random_number }}-javascript";

      function isModern() {
        try {
          new Function('import("")');
          return true;
        } catch (err) {
          return false;
        }
      }

      const scriptTag = document.createElement("script");
      scriptTag.setAttribute("src", isModern() ? MODERN_BUNDLE : LEGACY_BUNDLE);
      document.body.appendChild(scriptTag);
    </script>

  </body>

</html>
