<!DOCTYPE html>

<html>

  {% include head.html %}

  <body id="body">

    <div id="pageWrapper">

      {% include nav.html %}

      <header class="Header Header--short">

        <div class="Header-background"></div>

        <div class="Header-container">

          <h1 class="Header-title">
            {{ page.title }}
          </h1>

          <h2 class="Header-subTitle">{{ page.subtitle }}</h2>

        </div>

      </header>

      <main>
        {{ content }}
      </main>

      {% include footer.html %}

    </div>

  </body>

</html>
